/*
*======CSS Reset======
*/

body {
    display: flex;
    flex-wrap: wrap;
    margin-top: ;
    background-color: #99ccff;
    justify-content: space-around;


}

li {
    margin-left: 0;
    padding-left: 0;
}

input[type="button"], input[type="file"]{
    display: none;
}

#choose-button {
    cursor: pointer;
    border: solid;
    background-color: pink; 
}

/*
*======Photo Load and View Area======
*/
.photo-view {
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-right: 5px;
    box-shadow: -5px 10px 30px;
    text-align: center;
    background-color: white;
    position: relative;
    flex-grow: 5;
    flex-direction: column;


}



#photo-load {
    position: absolute;
    top: 50%;
    left: 39%;

}

.hide  {
    display: none;
}

#image-load {
    width: 80%;
    filter: brightness(1) contrast(1) saturate(1);
}
/*
*======Editing Controls======
*/

.control-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: ;
    box-shadow: -5px 10px 30px;
    padding-top: .5em;
    background-color: white;
    margin-top: ;
    flex-grow: 1;
    flex-wrap: wrap;

}

.control-title {
    font-size: 1.5em;
    background-color: pink;
    border-radius: 1%;
    font-family: sans-serif;
    padding: 5px;

}

.control-title span {
    margin-bttom:10px;
}

.sliders {
    list-style: none;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-top: 0;
    padding-top: 10px;
}



.sliders div {
    padding-bottom: .5em;
}



.slider-control[type=range] {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 8px;
  height: 2px;
  border: 1px solid #bdc3c7;
  background-color: #green;


}

input[type=range]:focus {
    outline: none;
}

.slider-control[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
	background-color: #ecf0f1;
	border: 1px solid #bdc3c7;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}



.selected[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
	background-color: red;
	border: 1px solid red;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
    background: gold;
}





/*
*======Media Queries======
*/

@media (min-width: 768px) {

    .photo-view {
        width: 70%;
        margin-bottom: 0;
        flex-wrap: wrap;


    }
    .control-box {
        width: 28%;
        flex-wrap: wrap;

}

/*
@media (min-width: 500px) {
    .control-box {
        width: 100%;
    }
*/


}
