/*
*======CSS Reset======
*/

body {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    background-color: grey;

}

li {
    margin-left: 0;
    padding-left: 0;
}


/*
*======Photo Load and View Area======
*/
.photo-view {
    flex-wrap: ;
    margin-top: 0;
    border: solid;
    text-align: center;
    margin-bottom: 10px;
    background-color: white;
    position: relative;
    flex-grow: 2;
}



#photo-load {
    position: absolute;
    top: 50%;
    left: 39%;

}

/*
*======Editing Controls======
*/


.slider-control {

}

.control-box {
    margin: ;
    border: solid;
    padding-top: .5em;
    background-color: white;
    margin-top: ;
    flex-grow: 1;
    flex-wrap: wrap;

}

.control-title {
    font-size: 1.5em;
    background-color: pink;
    border-radius: 1%;
    margin: 1%;
}

.sliders {
    list-style: none;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-top: 0;
}


/*
*======Media Queries======
*/

@media (min-width: 500px) {




}

/*
@media (min-width: 500px) {
    .control-box {
        width: 100%;
    }
*/


}
