/*
*======CSS Reset======
*/

body {
    display: flex;
    flex-wrap: wrap;
    margin-top: ;
    background-color: grey;
    justify-content: space-around;


}

li {
    margin-left: 0;
    padding-left: 0;
}


/*
*======Photo Load and View Area======
*/
.photo-view {
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-right: 5px;
    box-shadow: 0px 10px 10px;
    text-align: center;
    background-color: white;
    position: relative;
    flex-grow: 2;


}



#photo-load {
    position: absolute;
    top: 50%;
    left: 39%;

}

/*
*======Editing Controls======
*/

.control-box {
    margin-bottom: ;
    box-shadow: 0px 10px 10px;
    padding-top: .5em;
    background-color: white;
    margin-top: ;
    flex-grow: 1;
    flex-wrap: wrap;




}

.control-title {
    font-size: 1.5em;
    background-color: pink;
    border-radius: 1%;
    margin: 1%;
}

.sliders {
    list-style: none;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-top: 0;
}


.slider-control[type=range] {
  -webkit-appearance: none;
  width: 75%;
  border-radius: 8px;
  height: 7px;
  border: 1px solid #bdc3c7;
  background-color: #fff;
}
.slider-control[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
	background-color: #ecf0f1;
	border: 1px solid #bdc3c7;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;

}





/*
*======Media Queries======
*/

@media (min-width: 769px) {

    .photo-view {
        width: 70%;
        margin-bottom: 0;
        flex-wrap: wrap;


    }
    .control-box {
        width: 28%;
        flex-wrap: wrap; 

}

/*
@media (min-width: 500px) {
    .control-box {
        width: 100%;
    }
*/


}
